footer{
    display: grid;
    height: 135px;
    align-items: center;
    background-color: #181818;
    color: white;
    grid-template-areas:"turismo follow-me redes-sociales";

    h3{
        grid-template-areas: turismo;
        display: flex;
        justify-content: center;
    }

    div h3{
        grid-template-areas: follow-me;
        text-align: center;
    }

    div img{
        height: 50px;
        width: 50px;

    }
}